.primary{
    background: #EDC881;
    box-sizing: border-box;
    border: 1px solid #7D5555;
    border-radius: 40px;
    cursor: pointer;
    color: #7D5555;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    width: fit-content;
}
.primary:hover{
    color: #000;
    border-color: #000;
}
.primary.selected{
    background: #7D5555;
    color: #EDC881;
    border-color: #000000;
}

.primary.large{
    font-weight: 600;
    font-size: 80px;
    padding: 6px 54px;
}

.primary.medium{
    font-weight: 500;
    font-size: 40px;
    padding: 14px 54px;
}

